body {
	background-color: white;
}

h1 {
	font-family: 'Oswald', sans-serif;
	color: #535353;
	font-size: 50px;
	margin-top: -5px;
	margin-bottom: -5px;
	margin-left: 5px;
}

.container {
	width: 1100px;
	margin: auto;
	background-color: white;
}

.header {
	background-image: url(../Images/header.jpg);
	padding: 80px;
	padding-right: 80px;
}

.log-out a {
	position: absolute;
	border-radius: 5px;
	background-color: #121525;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-style: none;
	font-family: arial;
	font-size: 15px;
	color: white; 
	text-decoration: none;
	transition: 0.3s;
	margin-left: 970px;
	margin-top: -50px;
}

.log-out a:hover {
	background-color: #e5e5e5;
	color: #16418a;
}

.container .posting {
	width: 700px;
	height: 1000px;
	background-color: #121525;
	margin-top: 10px;
	float: left;
}

.container .posting .post-1 {
	width: 650px;
	height: 250px;
	background-color: #121525;
	float: left;
	margin: 20px;
}

.container .posting .post-1 .foto {
	width: 160px;
	height: 160px;
	background-color: white;
	margin-top: 18px;
	margin-left: 18px;
	margin-bottom: 18px;
	border-radius: 50%;
	float: left;
}
.container .posting .post-1 .foto p{
	text-align: center;
	line-height: 120px;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	letter-spacing: -1.3px;
	color: #215277;
}

.container .posting .post-1 .teks {
	padding: 20px;
	width: 370px;
	height: 120px;
	background-color: #121525;
	margin:18px;
	float: left;
}

.container .posting .post-1 .teks a {
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	letter-spacing: -1.3px;
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

.container .posting .post-1 .teks span {
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	letter-spacing: -0.5px;
	color: white;
	text-decoration: none;
	margin-left: 0px;
}

a:hover {
	color: lightblue;
}

.CV a{
	padding: 8px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: #0041e5;
	text-decoration: none;
	font-family: arial;
	color: white; 
	transition: 0.6s;
	float: left;
	margin-left: 210px;
}

.delete a{
	padding: 8px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: #f42122;
	text-decoration: none;
	font-family: arial;
	color: white; 
	transition: 0.6s;
	float: left;
	margin-left: 210px;
	margin-top: -50px;

}

.decline a{
	padding: 4px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: #f42122;
	text-decoration: none;
	font-family: arial;
	color: white; 
	transition: 0.6s;
	float: left;
	margin-left: 0px;

}

.accept a{
	padding: 4px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: #089b04;
	text-decoration: none;
	font-family: arial;
	color: white; 
	transition: 0.6s;
	float: left;
	margin-left: 10px;
}

#hr {
	margin-top: 40px;
}

.CV a:hover {
	color: white;
	background-color: #002a93;
}

.decline a:hover {
	color: white;
	background-color: #b40001;
}

.accept a:hover {
	color: white;
	background-color: #036a00;
}

.delete a:hover {
	color: white;
	background-color: #b40001;
}

.container .profile{
	width: 390px;
	height: 1000px;
	background-color: #121525;
	margin-top: 10px;
	float: left;
	margin-left: 10px;
}


.container .profile .foto-profil {
	width: 160px;
	height: 160px;
	background-color: white;
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
}

.container .profile .foto-profil p{
	text-align: center;
	line-height: 140px;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	letter-spacing: -1.3px;
	color: #215277;
}

.container .profile .keterangan a{
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	letter-spacing: -1.3px;
	color: white;
	text-decoration: none;
	margin-left: 130px;
	margin-top: 10px;
}

span {
	margin-left: 180px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	letter-spacing: -1.3px;
	color: white;

}

.post-job a{
	padding: 8px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: #0041e5;
	text-decoration: none;
	font-family: arial;
	color: white; 
	transition: 0.6s;
	float: left;
	margin-left: 139px;
	margin-top: 20px;
}

.post-job a:hover {
	color: white;
	background-color: #002a93;
}

font {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: white;
}